@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;

  --animate-slide-left: slide-left 0.5s ease-in-out;
  --animate-appear: appear 0.5s ease-in-out;

  @keyframes slide-left {
    from {
      margin-left: -64px;
      opacity: 0.3;
    }
    to {
      margin-left: 0;
      opacity: 1;
    }
  }

  @keyframes appear {
    from {
      opacity: 0.3;
    }
    to {
      opacity: 1;
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
